<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Send Tracker</title>
</head>
<body>
    <h1>Welcome to your Send Tracker!</h1>
    <h3>A Climber's Best Friend</h3>
    <p>Track your sends and show off your progress!</p>
    <nav>
        <ul>
            <li>
                <a href="/sessions">Add Session Info</a>
            </li>
        </ul>
    </nav>
</body>
</html>