<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kiwi+Maru&display=swap" rel="stylesheet">
    <title>Send Tracker</title>
</head>
<body>
    <div class="community-intro">
        <h1>Welcome to your Send Tracker!</h1>
        <h2>A Climber's Best Friend</h2>
        <p>Track your sends and show off your progress!</p>
        <nav>
            <ul>
                <li>
                    <a href="/sessions">Add Session Info</a>
                </li>
                <li>
                    <a href="/sessions">Community Sends</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>