<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Session</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<body>
    <div class="community-intro">
        <h1>Edit <%=session.name %>'s Session</h1>
        <nav>
            <ul>
                <li>
                    <a href="/sessions">Back to Home</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="edit-session-display-container">
        <form action="/sessions" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%=session.name%>">
            <label for="gymName">Gym Name: </label>
            <input type="text" name="gymName" id="gymName" value="<%=session.gymName%>">
            <label for="boulderGrade">Boulder Grade: </label>
            <select id="boulder-grade" name="boulderGrade">
                <option value="vb">VB</option>
                <option value="vb">V0</option>
                <option value="v1">V1</option>
                <option value="v2">V2</option>
                <option value="v3">V3</option>
                <option value="v4">V4</option>
                <option value="v5">V5</option>
                <option value="v6">V6</option>
                <option value="v7">V7</option>
                <option value="v8">V8</option>
                <option value="v9">V9</option>
                <option value="v10">V10</option>
                <option value="v11">V11</option>
                <option value="v12">V12</option>
            </select>
            <label for="isSent">Did you send it!?</label>
            <select id="is-sent" name="isSent">
                <option value="yes">Heck yeah!</option>
                <option value="no">Not yet 💪</option>
            </select>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>